.DataContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.DataContent table, tr, td {
    border-collapse: collapse;
    border: 1px solid grey;
}

.DataContent input {
    margin: 20px;
    width: 15%;
    height: 30px;
    border-radius: 8px;
    font-size: 1.5vw;
}

.DataContent input:focus {
    outline: none;
}
