@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');

html, body, #root {
    padding: 0;
    margin: 0;
    height: 100%;
    background: linear-gradient(90deg, #242222 0%, #636363 100% );
}