.Layout {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.active {
    color: gray;
}
header a{
    color: white;
    text-decoration: none;
    font-size: 2vw;
    margin-left: 20px;
    transition: color .22s ease-in;
}

header a:hover {
    color: grey
}

footer p{
    font-size: 1.2vw;
    padding: 10px 20px 20px 20px;
}

footer {
    color: white;
    background: #242222;
    border-top: 1px solid white;
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #242222;
    border-bottom: 1px solid white;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}